# Week 3 assignment Part 2 _ Rachit

In [70]:
import pandas as pd
df2 = pd.read_csv('task1.csv')
df2.head()

  PostalCode           Borough                                 Neighbourhood
0        M3A        North York                                     Parkwoods
1        M4A        North York                              Victoria Village
2        M5A  Downtown Toronto                    Regent Park / Harbourfront
3        M6A        North York             Lawrence Manor / Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [71]:
import geocoder

In [79]:
def get_latitlongit(postalcode):
    latitlongit_coords = None
    while(latitlongit_coords is None):
        g = geocoder.arcgis('{}, Toronto, Ontario'.format(postalcode))
        latitlongit_coords = g.latlng
    return latitlongit_coords
    
get_latitlongit('M4A')

[43.72810248500008, -79.31188987099995]

In [73]:
postalcodes = df2['PostalCode']

In [74]:
coords = [ get_latitlongit(postalcode) for postalcode in postalcodes.tolist() ]

In [75]:
coords[0:5]

[[43.75293455500008, -79.33564142299997],
 [43.72810248500008, -79.31188987099995],
 [43.65096410900003, -79.35304116399999],
 [43.723265465000054, -79.45121077799996],
 [43.66179000000005, -79.38938999999993]]

In [76]:
df_coords = pd.DataFrame(coords, columns=['Latitude', 'Longitude'])
df2['Latitude'] = df_coords['Latitude']
df2['Longitude'] = df_coords['Longitude']
df2.head()

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.752935,-79.335641
1,M4A,North York,Victoria Village,43.728102,-79.311890
2,M5A,Downtown Toronto,Regent Park / Harbourfront,43.650964,-79.353041
3,M6A,North York,Lawrence Manor / Lawrence Heights,43.723265,-79.451211
4,M7A,Downtown Toronto,Queen's Park / Ontario Provincial Government,43.661790,-79.389390

In [77]:
df2.to_csv('task2.csv', index=False)

In [78]:
df2.shape

(103, 5)